<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.carpoolapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="Key here" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PublicarViagem"
            android:label="Publicar Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".ProcurarViagem"
            android:label="Procurar Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".Perfil"
            android:label="Perfil"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".Resultados"
            android:label="Resultados"
            android:parentActivityName=".ProcurarViagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.ProcurarViagem" />
        </activity>
        <activity
            android:name=".UpdatePerfil"
            android:label="Editar Perfil"
            android:parentActivityName=".Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.Perfil" />
        </activity>
        <activity
            android:name=".Historico"
            android:label="Histórico"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".DetalhesViagem"
            android:label="Detalhes da Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".PartilharViagem"
            android:label="Partilhar Viagem"></activity>
        <activity
            android:name=".DetalhesViagem2"
            android:label="Detalhes da Viagem"></activity>
        <activity
            android:name=".PathViagem"
            android:label="Percurso da Viagem"></activity>
        <activity
            android:name=".ReservarViagem"
            android:label="Reservar Viagem"></activity>
        <activity
            android:name=".PartilharLocalizacao"
            android:label="Partilhar Localização"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PosTracking2"
            android:label="Seguir localizção de Utilizador"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".PosTracking"
            android:label="Seguir localizção de Utilizador"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Perfil2"
            android:label="Perfil do Condutor">
        </activity>
        <activity
            android:name=".ViagensReservadas"
            android:label="Viagens Reservadas"
            android:parentActivityName=".MainActivity">
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>