<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.carpoolapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="KEY HERE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PublicarViagem"
            android:label="Publicar Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".ProcurarViagem"
            android:label="Procurar Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
            >
        </activity>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".Perfil"
            android:label="Perfil"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
            >
        </activity>
        <activity android:name=".Resultados" />
        <activity
            android:name=".UpdatePerfil"
            android:label="Editar Perfil" />
        <activity
            android:name=".Historico"
            android:label="Histórico"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".DetalhesViagem"
            android:label="Detalhes da Viagem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.carpoolapp.MainActivity" />
        </activity>
        <activity android:name=".PartilharViagem" />
        <activity android:name=".DetalhesViagem2" />
        <activity android:name=".PathViagem" />
        <activity android:name=".ReservarViagem"></activity>
        <activity
            android:name=".PartilharLocalizacao"
            android:label="Partilhar Localização"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".PosTracking2"
            android:label="Seguir localizção de Utilizador"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>